<main id="clases">
        <div class="clasesintro">
        <h2>Nuestras clases</h2>
        <p>Nuestras clases son aprovechables para quien quiera que tenga interés en el ajedrez. A partir de los cinco o seis años, sea el nivel que sea, todos y todas las pueden aprovechar. Lo único que hace falta es muchas ganas de disfrutar y paciencia para aprender. Comuníquense con cada Casa de la Cultura para confirmar que haya cupos disponibles.</p>
        </div>
       <table style="width: 100%;">
        <tr class="categorías">
            <th>Sede</th>
            <th>Horario</th>
            <th>Profesor</th>
            <th>Dirección</th>
        </tr>
        <tr>
            <th>Centro Cívico Villa Adelina</th>
            <th>Martes 17 a 19hs</th>
            <th>Marcos</th>
            <th>Av. de Mayo 914</th>
        </tr>
        <tr>
            <th>Centro Cívico Boulogne</th>
            <th>Miércoles 18 a 20hs</th>
            <th>Pablo</th>
            <th>Av. Rolón 2237</th>
        </tr>
        <tr>
            <th>Biblioteca Sauce</th>
            <th>Lunes 17 a 19hs</th>
            <th>Marcos</th>
            <th>Padre Acevedo 2514</th>
        </tr>
        <tr>
            <th>Centro Cívico Beccar</th>
            <th>Lunes 15 a 17hs</th>
            <th>Rodolfo</th>
            <th>Av. Centenario 1489</th>
        </tr>
        <tr>
            <th>Colegio Da Vinci Boulogne</th>
            <th>Viernes 15 a 17hs</th>
            <th>Cristian</th>
            <th>Bernardo de Yrigoyen 3326</th>
        </tr>
        <tr>
            <th>Puerto Libre</th>
            <th>Miércoles 11 a 13hs</th>
            <th>Enrique</th>
            <th>Paseo del Bajo 1655</th>
        </tr>
        <tr>
            <th>Sportivo la Cava</th>
            <th>Jueves 17 a 19hs</th>
            <th>Marcos</th>
            <th>Roma esquina Neyer</th>
        </tr>
        <tr>
            <th>Centro Cultural Engranajes</th>
            <th>Sábados 15 a 17hs</th>
            <th>Marcos</th>
            <th>Bernardo de Yrigoyen 2843</th>
        </tr>
        <tr>
            <th>Centro Cívico Martinez</th>
            <th>Viernes 17 a 19hs</th>
            <th>Cristian</th>
            <th>Saavedra 1710</th>
        </tr>
       </table>
    </main>