<main>
        <div id="contacto">
            <div class="formularios">
            <h3>Contacto</h2>
            <form action="/contacto" method="post" class="formulario" id="formulario">
                <p>
                    <label for="">Nombre y Apellido</label>
                    <input type="text" required name="nombre"/>
                </p>
               <p>
                   <label for="">E-mail</label>
                   <input type="email" required name="email"/>
               </p>
               <p>
                   <label for="">Teléfono</label>
                   <input type="text" required name="telefono"/>
               </p>
               <p>
                   <label for="comentario">Comentario</label>
                   <textarea id="comentario" maxlength="300" required name="comentario"></textarea>
               </p>
               <p class="acciones"><input type="submit" value="Enviar"></p>
            </form>
            <p>{{message}}</p>
            </div>
            <div class="redes">
            <h3>Encontranos también en...</h3>
            <br>
            <h4 class="icon-facebook2"><a href="https://www.facebook.com/groups/237318276318763/" style="text-decoration: none;">Nuestro Facebook</a></h5>
            <h4 class="icon-delicious"><a href="https://lichess.org/team/escuela-municipal-de-ajedrez-san-isidro" style="text-decoration: none;">Nuestro club virtual</a></h5>
            </div>
        </div>
    </main>