    <main id="home">
        <h2>El ajedrez, la educación y la comunidad</h2>
        <br>
        <p>Somos EMASI,a la Escuela Municipal de Ajedrez San Isidro. Amamos el ajedrez y creemos que tiene muchísimas virtudes tanto desde el punto de vista lúdico, cognitivo, recreativo, pedagógico, emocional, deportivo, científico y por donde se lo mire. Por eso nos dedicamos con alegría y pasión a que el ajedrez crezca y viva en San Isidro.</p>
        <br>
        <p>Damos clases gratuitas en distintos puntos del partido de San Isidro. Las mismas son un espacio de encuentro amistoso que permiten nutrir las relaciones comunitarias y vecinales y también son un espacio serio y divertido donde aprender y profundizar en este fantástico juego.</p>
        <br>
        <p>También realizamos torneos periódicos donde quien quiera puede venir a competir amistosamente, para todos los niveles y categorías. Desde la de infantiles inicial hasta la categoría más difícil donde pueden medirse con Maestros y los mejores jugadores de la zona.</p>
    </main>