<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" sizes="57x57" href="/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
    <link rel="manifest" href="/favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <title>Ajedrez San Isidro</title>
    <link rel="stylesheet" href="/stylesheets/ajedrezsanisidro.css">
    <link rel="stylesheet" href="/stylesheets/normalize.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
    <header>
        <div class="header1">
            <img class="logo" src="/images/logo.jpg" alt="logo">
        </div>
        <div class="header2">
            <h1>Escuela Municipal de Ajedrez San Isidro</h1>
        </div>
    </header>
    <nav>
        <ul>
            <li><a href="/" style="text-decoration: none;">Nosotros</a></li>
            <li><a href="/clases" style="text-decoration: none;">Clases</a></li>
            <li><a href="/losprofes" style="text-decoration: none;">Los profes</a></li>
            <li><a href="/recuerdos" style="text-decoration: none;">Recuerdos</a></li>
            <li><a href="/novedades" style="text-decoration: none;">Próximos eventos</a></li>
            <li><a href="/contacto" style="text-decoration: none;">Contacto</a></li>
        </ul>
    </nav>
        {{{body}}}
    <footer>
        <p>EMASI - Creciendo ajedrecística y humanamente desde 1985 // Diseñado por Marcos Chotsourian - &copy; 2020</p>
    </footer>
</body>
</html>