<main>
        <h2>Los profes</h2>
        <div>
            <div class="profe">
                <figure>
                <img src="/images/pablo.jpg" alt="Pablo">
                </figure>
                <div class="info">
                <h4>Pablo Zapata</h4>
               <p class="descrip">Jugador histórico y potente del viejo Círculo de Ajedrez de San Isidro, Pablo ha sido uno apasionado del ajedrez desde muy pequeño. Hoy en día se dedica a su enseñanza con mucho compromiso y creatividad, incorporando recursos de todo tipo, ¡hasta trucos de magia!</p>
                </div>
            </div>
           <div class="profe">
                <figure>
                <img src="/images/cristian.jpg" alt="Cristian">
                </figure>
                <div class="info">
                <h4>Cristian Asprelli</h4>
                <p class="descrip">Excelente entrenador de jugadores de alto rendimiento, ha sacado varios campeones nacioneles, entre ellos su hijo, el excelente jugador Gaspar Asprelli. Además es nuestro árbitro designado para los torneos de mayor nivel, dada su seriedad y gran conocimiento de lo reglamentario.</p>
                </div>
            </div>
            <div class="profe">
                <figure>
                <img src="/images/enrique.jpg" alt="Enrique">
                </figure>
                <div class="info">
                <h4>Enrique Rojo Lynch</h4>
                <p class="descrip">Sin duda una de las personas más interesantes entre quienes componen el equipo docente. Enrique no solo es un gran jugador de ajedrez que ha llegado a medirse con campeones mundiales sino que es una persona profundamente dedicada a lo espiritual, siendo astrólogo. No olvidemos que el ajedrez, bien entendido, es una forma de comprender la realidad.</p>
                </div>
            </div>
            <div class="profe">
                <figure>
                <img src="/images/rodolfo.jpg" alt="Rodolfo">
                </figure>
                <div class="info">
                <h4>Rodolfo Garbarino</h4>
                <p class="descrip">Nuestro coordinador, el Maestro Internacional Rodolfo Garbarino es un jugador que incluso ya con ciertos años encima no deja de pisar fuerte en la cancha internacional. Su alegría y espíritu de equipo alimentan cotidianamente las ganas y las ideas de todo lo que hacemos.</p>
                </div>
            </div>
            <div class="profe">
                <figure>
                <img src="/images/marcos.jpg" alt="Marcos">
                </figure>
                <div class="info">
                <h4>Marcos Chotsourian</h4>
                <p class="descrip">Ajedrecista, pero también filósofo y sobre todo amante de los niños y de las ocurrencias. El profesor Marcos es realmente un personaje, basta verlo organizando las clases o los torneos para niños y cómo logra una atmósfera respetuosa, cuidada pero a la vez divertida y creativa.</p>
                </div>
            </div>
        </div>
    </main>