<main id="recuerdos">
        <h2>Recuerdos</h2>
        <div>
            <div class="recuerdo">
                <img src="/images/recuerdos/ajedrezviviente.jpg" alt="Ajedrez Viviente" width="450px" height="270px">
                <h4>Ajedrez Viviente</h4>
                <div class="ajedrezviviente reseña">
                    <p>¡Todos los años nuestros alumnos y alumnas se organizan para actuar en el esperado Ajedrez Viviente!</p>
                </div>
            </div>
            <div class="recuerdo">
                <img src="/images/recuerdos/anacampeona.jpg" alt="Ana Paola Borda Campeona" width="450px" height="270px">
                <h4>Ana Paola Borda Campeona</h4>
                <div class="anapaola reseña">
                    <p>Tras años de entrenamiento y compromiso, Ana Paola logra ser Campeona Nacional Sub 14</p>
                </div>
            </div>
            <div class="recuerdo">
                <img src="/images/recuerdos/copachallenger.jpg" alt="Ganamos Copa Challenger" width="450px" height="270px">
                <h4>¡Ganamos la Copa Challenger!</h4>
                <div class="copachallenger reseña">
                    <p>¡El equipo local de San Isidro logra la Copa Challenger!</p>
                </div>
            </div>
            <div class="recuerdo">
                <img src="/images/recuerdos/copaquilmesganada.jpg" alt="Ganamos Copa Quilmes" width="450px" height="270px">
                <h4>¡Ganamos la Copa Quilmes!</h4>
                <div class="copaquilmes reseña">
                    <p>¡Visitamos Quilmes y logramos la copa, con un equipo de todas las edades!</p>
                </div>
            </div>
            <div class="recuerdo">
                <img src="/images/recuerdos/equipoadelina.jpg" alt="Torneo Villa Adelina" width="450px" height="270px">
                <h4>Torneo Villa Adelina</h4>
                <div class="adelina reseña">
                    <p>Nuestro tradicional torneo interno de fin de año en Villa Adelina</p>
                </div>
            </div>
            <div class="recuerdo">
                <img src="/images/recuerdos/gasparcampeón.jpg" alt="Gaspar Asprelli Campeón" width="450px" height="270px">
                <h4>Gaspar Asprelli Campeón</h4>
                <div class="gaspar reseña">
                    <p>¡Impresionante Gaspar Asprelli Campeón Nacional Sub 18!</p>
                </div>
            </div>
            <div class="recuerdo">
                <img src="/images/recuerdos/grantorneosauce.jpg" alt="Gran Torneo Biblioteca Sauce" width="450px" height="270px">
                <h4>Gran Torneo Biblioteca Sauce</h4>
                <div class="sauce reseña">
                    <p>¡Multitudinario torneo en la Biblioteca Sauce, nuestro referente de Ajedrez Barrial!</p>
                </div>
            </div>
            <div class="recuerdo">
                <img src="/images/recuerdos/históricos.jpg" alt="Reencuentro Histórico" width="450px" height="270px">
                <h4>Reencuentro Histórico</h4>
                <div class="históricos reseña">
                    <p>Los jugadores históricos de San Isidro vuelven a la cancha, ¡dando un gran impulso al equipo!</p>
                </div>
            </div>
        </div>
    </main>
    <script> </script>